@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

a{
    color: #5C5C5C;
    font-style: normal;
    font-size: 12pt;
    font-family: 'Roboto';
    
}

iframe#frame-spec {
    margin-top: -1%;
    margin-right: 10%;
	width: 250px;
	height: 370px;
	overflow: hidden;
    float: right;
    border-color: #ECECEC;
    border-width: 1px;
}