@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

header#cabecalho{
    font-family: 'Roboto', sans-serif;     
    position: absolute;
    width: 1895px;
    height: 68px;
    left: 220;
    top: 0;
    background:  #FDF1EB;;
}

header#cabecalho h1{
    font-family: 'Roboto';
    color: #725C5C;
    position: absolute;
    width: 500px;
    height: 16px;
    left: 12.9%;
    top: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
}

header#cabecalho h2{
    position: absolute;
    width: 800px;
    height: 26px;
    top: 10px;
    left: 12.8%;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #725C5C;
}

header#cabecalho h3{
    position: absolute;
    width: 105px;
    height: 16px;
    left: 12.85%;
    top: 55%;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #725C5C;
}

.inicio h4{ 
    position: absolute;
    width: 72px;
    height: 20px;
    left: 1770px;
    top: 17px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400px;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #333333;
}

.inicio h5{
    position: absolute;
    width: 163px;
    height: 15px;
    left: 87.6%;
    top: 0px;
    bottom: 20px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: right;
    color: #333333;
}

.inicio img{
    border-radius: 20px;
    position: absolute;
    left: 97.28%;
    right: 10%;
    top: 2.5%;
}



section .box{
    box-sizing: border-box;
    position: absolute;
    width: 97px;
    height: 34px;
    left: 1400px;
    top: 17px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
}

.lang{
    position: absolute;
    width: 42px;
    height: 18px;
    left: 1430px;
    top: 25px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
}

.boxlang .lang a{
    text-decoration: none;
}

.boxlang img#img{
    position: absolute;
    width: 6px;
    height: 4px;
    left: 1480px;
    top: 33px;
}


.boxlang img#img2{
    position: absolute;
    width: 20px;
    height: 18px;
    left: 1408px;
    top: 24px;
}

.container div#texto{
    font-family: 'Roboto';
    position: absolute;
    font-size: 22pt;
    left: 25px;
    margin-top: 80px;
    bottom: 885px;
    color: white;
}

.container div#texto a{
    text-decoration: none;
    color: white;
}

.container img{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    left: -10px;
    top: -10px;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
}

.texto{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 1.2%;
    right: 0%;
    top: 1.4%;
    bottom: 0%;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #FFFFFF;

}

nav#menu ul{
    list-style: none;
}

nav#menu {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500px bold;
    font-size: 15px;
    line-height: 19px;
    float: left;
    width: 228px;
    height: 2000px;
    margin-left: -1%;
    margin-top: 12.8%;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}

nav#menu li{
    padding: .5em 0;
	border-bottom: 1px solid #CCC;
    color: #725C5C;
    

}

nav#menu a{
    text-decoration: none;
    color: #725C5C;
}

img#slaca{
    border: none;
    position: absolute;
    width: 217.4px;
    left: 0%;
    right: 0%;
    top: 7%;
    bottom: 0%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}